<% include ../partials/header %>

<div class="container new-form">
 <form action="/blogs" method="POST">
    <div class="form-group">
      <label for="blog title">Title</label>
      <input type="Text" class="form-control" name="blog[title]">
    </div>
    <div class="form-group">
      <label for="blog Image">Image</label>
      <input type="Text" class="form-control" name="blog[image]">
    </div>
    <div class="form-group">
      <label for="blog opener">Opener</label>
      <input type="Text" class="form-control" name="blog[opener]">
    </div>
    <div class="form-group">
      <label for="blog Body">Body</label>
      <textarea type="Text" class="form-control" id="body-entry" rows="6" name="blog[body]"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<% include ../partials/footer %>