<% include ../partials/header %>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="username-signup" class="form-control" id="" placeholder="Enter selected username here!">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password-signup" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="Register here!" class="btn btn-primary">Submit</button>
</form>

<% include ../partials/footer %>