<html>
    <head>
        <Title>Alex's Bizzare Coding Adventure</Title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/stylesheets.css">
        
        

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">
    </head>
    
    <body>
        
         <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
             
            <a class="navbar-brand" href="/">Yare Yare Daze</a>
            
            <ul class="navbar-nav">
                <li><i class="fab fa-github fa-3x" style="color: white"></i></li>
                
                <li><i class="fab fa-codepen fa-3x" style="color: white"></i></li>
            </ul>

            <% if(!currentUser) {%>

            <%} else {%>
            <a class='navbar-brand' href='/logout'>Log out?</a>
            <% } %>
        
            
         </nav>
