body {
  background-color: #222324;
  color: white;
  border: #f70202be;
}

hr {
  color: #e2e2e27a
}

.titles {
  font-family: Orbitron;
}

.content {
  font-family: 'Open sans', sans-serif;
}

.index-post {
  background-color: #2b2c2d;
  color: white;
  border: 2px solid #f70202be;
  box-shadow: 2px 4px #17171842
}

.index-post > .card-footer {
  background-color: #3f4142;
  color: rgb(255, 255, 255);
  /* border-top: 0.5px solid crimson; */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.side-widget {
  background-color: #2b2c2d;
  color: white;
  border: 2px solid #f70202be;
  box-shadow: 2px 4px #17171842;
}

.side-widget > .card-header {
  background-color: #2b2c2d;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px #17171842;
  text-align: center;
  border-bottom: 0.5px solid #c50303be;
}

.jumbotron {
  text-align: center;
  background: #222324;
}
.jumbotron-content > h1 {
  text-shadow: #c50303 2px 3px;
  font-family: Orbitron;
}
.jumbotron-content > p {
  color: #c50303;
  font-family: Aldrich;
}

a {
  color: #c70505
}

.btn-outline-danger {
  color: #c70505;
  background-color: transparent;
  background-image: none;
  border-color: #c70505
}

.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

.new-form {
  margin-top: 20px;
  padding: 30px;
}

.card {
  padding-left: 35px;
  padding-right: 35px;
}

.contact-card {
  text-align: center;
}

.card-img-top {
  padding: 50px;
}

#body-entry {
  white-space: pre-wrap;
}